/* 전체 설정 */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI","Noto Sans KR",sans-serif;
}


body{

    width:100vw;
    height:100vh;

    overflow:hidden;

}



/* =====================
   로그인 화면
===================== */


.login-screen{

    width:100%;
    height:100%;


    display:flex;

    justify-content:center;

    align-items:center;


    background:

    linear-gradient(
        rgba(0,0,0,.45),
        rgba(0,0,0,.65)
    ),

    url("../img/wallpaper.jpg");


    background-size:cover;

    background-position:center;

}




.login-card{


    width:340px;


    padding:45px 35px;


    text-align:center;


    color:white;


    background:

    rgba(255,255,255,.12);


    backdrop-filter:blur(25px);


    border-radius:25px;


    border:

    1px solid rgba(255,255,255,.2);


    box-shadow:

    0 20px 60px rgba(0,0,0,.5);


}




/* 프로필 */


.profile-circle{


    width:110px;

    height:110px;


    margin:0 auto 20px;


    border-radius:50%;


    background:

    rgba(255,255,255,.2);


    display:flex;

    justify-content:center;

    align-items:center;


    font-size:60px;


}



.login-card h1{

    font-size:25px;

    margin-bottom:8px;

}



.login-card h2{

    font-size:16px;

    font-weight:400;

    opacity:.8;

}



.online{

    margin-top:15px;

    color:#7dff9a;

    font-size:13px;

}




/* 비밀번호 */


.login-card input{


    margin-top:30px;


    width:100%;


    height:45px;


    border-radius:15px;


    border:

    1px solid rgba(255,255,255,.3);


    background:

    rgba(0,0,0,.3);


    color:white;


    padding:0 15px;


    font-size:15px;


}



.login-card input::placeholder{

    color:#ddd;

}




/* 버튼 */


.login-card button{


    margin-top:15px;


    width:100%;


    height:45px;


    border:none;


    border-radius:15px;


    cursor:pointer;


    font-size:15px;


}





.last{


    margin-top:25px;


    font-size:12px;


    opacity:.6;


    line-height:1.6;


}





/* =====================
   컴퓨터 화면
===================== */


.computer{


    width:100%;

    height:100%;


    position:relative;


    background:

    url("../img/wallpaper.jpg");


    background-size:cover;


}




.desktop-icon{


    position:relative;


    top:30px;

    left:30px;


    width:80px;


    color:white;


    text-align:center;


    font-size:35px;


    text-shadow:

    0 2px 5px black;


}



.desktop-icon span{


    display:block;


    font-size:13px;


}





/* 작업표시줄 */


.taskbar{


    position:absolute;


    bottom:0;


    left:0;


    width:100%;


    height:55px;


    background:

    rgba(20,20,20,.8);


    backdrop-filter:blur(15px);


    display:flex;


    justify-content:space-between;


    align-items:center;


    padding:0 20px;


    color:white;


}